<main class="pb-5" id="main-home">
    <section id="banner-home">
        <div id="banner-title">
            <h3>Si buscas mejorar tu</h3>
            <h2>Estilo de vida</h2>
            <p>LIFELIFT TE AYUDARÁ A ALCANZAR TU MEJOR VERSIÓN</p>
            <p>TANTO SI TU OBJETIVO ES SALUD, FORMA FÍSICA O COMPETICION A NIVEL PROFESIONAL</p>
            <%= link_to "Descúbrelo", my_account_path, class: "btn btn-primary", id: "banner-btn" %>
        </div>
    </section>
</main>
