<main class="mb-5 container">
  <h1>Editando mis objetivos</h1>

  <%= render "form", inscription: @inscription %>

  <br>

  <div>
    <%= link_to "Volver a atrás", my_account_path %>
  </div>
</main>
