
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// VARIABLES ROOT ___________________________________________________________________________________________________
:root{
    --font-family: "Mulish", sans-serif;
    --headins-font-family: "Montserrat", sans-serif;

    --color-background-dark: #10131C;
    --color-purple: #A22FF1;
    --color-purple-hover: #66129e;
    --color-purple-light: rgb(198, 141, 236);
    --color-purple-light-hover: #b177d7;
		--color-purple-transparent: #b177d7;

}

// BOOTSTRAP ___________________________________________________________________________________________________

.btn{
    font-weight: bold;
		text-transform: uppercase;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-purple);
    --bs-btn-border-color: var(--color-purple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-purple-hover);
    --bs-btn-hover-border-color: var(--color-purple-hover);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-purple-hover);
    --bs-btn-active-border-color: var(--color-purple-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: grey;
    --bs-btn-disabled-border-color: grey;
}

.btn-secondary {
    --bs-btn-color: white;
    --bs-btn-bg: var(--color-purple-light);
    --bs-btn-border-color: var(--color-purple-light);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--color-purple-light-hover);
    --bs-btn-hover-border-color: var(--color-purple-light-hover);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: var(--color-purple-light-hover);
    --bs-btn-active-border-color: var(--color-purple-light-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-background-dark);
    --bs-btn-disabled-bg: #bebebf;
    --bs-btn-disabled-border-color: #bebebf;
}

.btn-outline-secondary {
    --bs-btn-color: var(--color-purple-light);
    --bs-btn-border-color: var(--color-purple-light);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-purple-light-hover);
    --bs-btn-hover-border-color: var(--color-purple-light-hover);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-purple-light-hover);
    --bs-btn-active-border-color: var(--color-purple-light-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #bebebf;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #bebebf;
    --bs-gradient: none;
}

.navbar {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	--bs-navbar-toggler-border-color: rgba(white, 0.15);
}

.navbar.logged{
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2310131C' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border: var(--bs-border-width) solid transparent;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.div-flash{
	position: relative;	
}
.alert{
	position: fixed;
	z-index: 2;
	text-align: center;
	left: 0;
	width: 100%;
  // name duration timing-function delay iteration-count direction fill-mode;	
  animation: fadeout 0.8s linear 3s forwards;
}

.table {
	--bs-table-bg: #a22ff114;
}

.nav-tabs .nav-link.active{
	color: var(--bs-nav-tabs-link-active-color);
	background-color: #a22ff114;
	border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-link {
	color: var(--color-purple-hover);
}

.nav-link:hover, .nav-link:focus {
	color: var(--color-purple);
}

.form-control {
    background-color: transparent;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--color-purple-light);
    outline: 0;
    box-shadow: 0 0 0 0.25rem #a22ff114;
}

body{
    font-family: var(--font-family);
		position: relative;
}

.img-bg {
	display: none;
}


h1,h2,h3,h4,h5,h6{
    font-family: var(--headins-font-family);
}

a{
    color: var(--color-purple);
}
a:hover{
    color: var(--color-purple-hover);
}


// MENÚ ___________________________________________________________________________________________________

.menu-light .navbar-brand-text{
    font-size: 25px;
		color: var(--color-background-dark);
    font-family: var(--headins-font-family);
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 15px;
}

.btn-login{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 25px;
}

@media (max-width: 992px) {
	.d-md-visible{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: right;
		row-gap: 15px;
	}

}

// FOOTER ___________________________________________________________________________________________________
footer{
	background-color: var(--color-background-dark);
	padding: 50px 0;
}

footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .navbar-brand-text{
	margin-left: 15px;
}

footer p{
	color: white;
}

// HOME ___________________________________________________________________________________________________
#main-home{
    min-height: 100vh;
}

#main-home, #menu-home{
    background-color: var(--color-background-dark);
}


.navbar-brand-text{
    color: white;
    font-size: 25px;
    font-family: var(--headins-font-family);
    text-transform: uppercase;
    font-weight: 500;

}

#banner-home{
    background-color: var(--color-background-dark);
    background-image: url("mujer-pino-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#banner-title{
    width: 65%;
    padding: 5%;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(to right,  var(--color-background-dark) 30%, transparent);
    min-height: 300px;
}

#banner-title h3{
    font-weight: 300;
    font-size: 18px;
}
#banner-title h2{
    font-weight: 800;
    font-size: 25px;
}
#banner-title p{
    font-weight: 300;
    font-size: 14px;
}

// seccion 2
// seccion2
#section2-home{
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding: 5% 0;
	row-gap: 25px;
}

#rutina-diseñada-para-ti{
	// width: 40%;
	text-align: center;
}

#rutina-diseñada-para-ti h3{
	color: white;
	font-size: 30px;
}

#rutina-diseñada-para-ti .btn{
	margin-top: 30px;
	width: 50%;
}

#mejora-tu{
	// width: 50%;
	padding: 5%;
}

#mejora-tu h4{
	color: var(--color-purple);
}


#mejora-tu article{
	display: grid;
	grid-template-columns: 100px auto;
	place-items: center;
	column-gap: 25px;
	margin-bottom: 25px;
}

#contact-home{
	min-height: 90vh;
	padding: 5%;
}

#contact-home h2{
	color: white;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
}	

#contact-cols{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 25px;
}

#info-contact{
	width: 100%;
	color:white
}

#form-contact{
	width: 100%;
	color:white
}

#form-contact .form-control:focus {
	background-color: transparent;
}

#form-contact .form-control {
	color: white
}





// LOGIN ___________________________________________________________________________________________________
.login{
	background-color: var(--color-background-dark);
	display: grid;
  place-content: center;
	min-height: 95vh;
}

.login-form{
	color: white;
}

.login-form .form-label{
	font-size: 18px;
	margin-top: 15px;
}

.login-form .form-control{
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.login-form .btn{
	margin: 30px 0;
	width: 100%;
}

.login-form .login-links{
	text-align: center;
	font-size: 18px;
}



nav.pagination{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

// MY_ACCOUNT_USER______________________________________________________________________________________________________
.nutrition-col{
	background-color: #a22ff114;
	padding: 30px;
	margin-bottom: 15px;
}

// TRAINER_USER______________________________________________________________________________________________________
.inscription-cols{
	background-color: #a22ff114;
	padding: 5%;
	border-radius: 15px;
}

// VIEW/INSCRIPTIONS ___________________________________________________________________________________________________
#sets tr.done svg{
    color: var(--color-purple); 
    width: 50px;   
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	// HOME ___________________________________________________________________________________________________
	#banner-title h3{
			font-weight: 300;
			font-size: 18px;
	}
	#banner-title h2{
			font-weight: 800;
			font-size: 25px;
			margin: 20px 0;
	}
	#banner-title p{
			font-weight: 300;
			font-size: 14px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// HOME ___________________________________________________________________________________________________
	#banner-title{
			min-height: 80vh;
	}
	
	#banner-title h3{
			font-weight: 300;
			font-size: 26px;
	}
	#banner-title h2{
			font-weight: 800;
			font-size: 35px;
			margin: 30px 0 50px 0;
	}
	#banner-title p{
			font-weight: 300;
			font-size: 22px;
	}
	#banner-title #banner-btn{
			font-size: 20px;
			padding: 20px 40px;
			margin-top: 30px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	// HOME ___________________________________________________________________________________________________
	#banner-title h3{
			font-weight: 300;
			font-size: 26px;
	}
	#banner-title h2{
			font-weight: 800;
			font-size: 35px;
			// margin: 50px 0;
	}
	#banner-title p{
			font-weight: 300;
			font-size: 22px;
	}
	
	// seccion2
	#section2-home{
		flex-direction: row;
		justify-content: space-between;
		row-gap: 0;
	}
	
	#rutina-diseñada-para-ti{
		width: 40%;
		text-align: left;
	}

	#rutina-diseñada-para-ti h3{
		font-size: 40px;
	}

	#rutina-diseñada-para-ti .btn{
		margin-top: 40px;
	}

	#mejora-tu{
		width: 50%;
		padding: 0;
	}

	#contact-home {
		padding: 5% 0;
	}	

	// contacto
	#contact-home h2{
		font-size: 55px;
		margin-bottom: 60px;
	}	
	
	#contact-cols{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		row-gap: 25px;
	}
	
	#info-contact{
		width: 40%;
	}
	
	#form-contact{
		width: 50%;
	}
	

	.img-bg {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-top: -50px;
		z-index: -1;
	}

	// LOGIN ___________________________________________________________________________________________________
	.login{
		display:flex;
		align-items: center;
		justify-content: space-between;
	}

	.login-form{
		width: 35%;
		padding: 5% 0 5% 5%;
	}

	.login-img{
		width: 60%;
		height: 95vh;
		background-image: url("mujer-abdominales.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top right;
	}
}



// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// HOME ___________________________________________________________________________________________________
	#banner-title{
			width: 60%;
			padding: 10%;
			min-height: 95vh;
	}
	
	#banner-title h3{
			font-weight: 400;
			font-size: 35px;
	}
	#banner-title h2{
			font-weight: 800;
			font-size: 80px;
			// margin: 50px 0;
	}
	#banner-title p{
			font-weight: 300;
			font-size: 25px;
	}

	#rutina-diseñada-para-ti h3{
		font-size: 55px;
	}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}
