<h2>Buscar</h2>
<%= search_form_for @q, url: admin_users_path do |f| %>

  <%= f.label :name_cont, "Nombre contiene:", class: "form-label" %>
  <%= f.search_field :name_cont, class: "form-control" %>

  <%= f.submit "Buscar", class: "btn btn-primary mt-3"%>

<% end %>
