<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Muscle group:</strong>
    <%= exercise.muscle_group %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise.description.html_safe %>
  </p>

</div>
