<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">LifeLift</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Ejercicios", admin_exercises_path, class: "nav-link  #{ "active" if params[:controller] == "admin/exercises"}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Usuarios", admin_users_path, class: "nav-link  #{ "active" if params[:controller] == "admin/users"}" %>
        </li>
      </ul>
      <span class="navbar-text">
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary" unless current_user %>
        <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "btn btn-primary" if current_user %>
      </span>
    </div>
  </div>
</nav>
